# Space weather live page

In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime
from bs4 import BeautifulSoup
#Getting page Text
spaceWeatherPage=requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares')
spaceWeatherPageText=spaceWeatherPage.text
spaceWeatherPageText[:1000]

'<!doctype html>\n<html lang="en">\n    <head>\n        <title>Top 50 solar flares | Solar activity | SpaceWeatherLive.com</title>\n        <meta charset="utf-8" />\n        <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />\n        <meta name="description" content="On this page you will find an overview of the strongest solar flares since June 1996 together with links to more information in our archive and a v..." />\n        <meta name="keywords" content="SpaceWeatherLive, Live, Aurora, Auroral activity, Aurora Australis, Aurora Borealis, northern lights, Solar wind, Kp-index, Space Weather, Space Weather Updates, Aurora forecast, Space Weather Alerts, Solar activity, Solar flares, Sunspots, Aurora alert, Auroral activity, The Sun, SDO, STEREO, EPAM, DSCOVR" />\n        <!-- Facebook meta -->\n        <meta property="og:url" content="https://spaceweatherlive.com/en/solar-activity/top-50-solar-flares" />\n        <meta property="og:type'

In [2]:
#Using beautiful soup to organize Html Text
page=BeautifulSoup(spaceWeatherPageText)
page.prettify()[:1000]

'<!DOCTYPE html>\n<html lang="en">\n <head>\n  <title>\n   Top 50 solar flares | Solar activity | SpaceWeatherLive.com\n  </title>\n  <meta charset="utf-8"/>\n  <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" name="robots"/>\n  <meta content="On this page you will find an overview of the strongest solar flares since June 1996 together with links to more information in our archive and a v..." name="description"/>\n  <meta content="SpaceWeatherLive, Live, Aurora, Auroral activity, Aurora Australis, Aurora Borealis, northern lights, Solar wind, Kp-index, Space Weather, Space Weather Updates, Aurora forecast, Space Weather Alerts, Solar activity, Solar flares, Sunspots, Aurora alert, Auroral activity, The Sun, SDO, STEREO, EPAM, DSCOVR" name="keywords"/>\n  <!-- Facebook meta -->\n  <meta content="https://spaceweatherlive.com/en/solar-activity/top-50-solar-flares" property="og:url"/>\n  <meta content="article" property="og:type"/>\n  <meta content="Top 50 sol'

In [3]:
#Reterving the table from the page
Table=page.find('table','table table-striped table-responsive-md')
#Defining lists that will be used as columns in data frame
rank=[]
x_class=[]
date=[]
region=[]
start_time=[]
max_time=[]
end_time=[]
movie=[]
"""""
After Reterving the table, rows will be stored in variable,
then iterate in every row to get each variable to append it to it's list(each iteration we add 8 to go to next row)
"""""
Rows=Table.find_all('td')
for rowIndex in range(len(Table.find_all('tr'))-1):
    rank.append(Rows[0+8*rowIndex].text)
    x_class.append(Rows[1+8*rowIndex].text)
    date.append(Rows[2+8*rowIndex].text)
    region.append(Rows[3+8*rowIndex].text)
    start_time.append(Rows[4+8*rowIndex].text)
    max_time.append(Rows[5+8*rowIndex].text)
    end_time.append(Rows[6+8*rowIndex].text)
    movie.append(Rows[7+8*rowIndex].text)
spaceWeatherDataFrame=pd.DataFrame({'Rank':rank,'X_class':x_class,'Date':date,'Region':region,'Start_time':start_time,'Max_time':max_time,'End_time':end_time,'Movie':movie})
spaceWeatherDataFrame

,Rank,X_class,Date,Region,Start_time,Max_time,End_time,Movie
0,1,X28+,2003/11/04,0486,19:29,19:53,20:06,MovieView archive
1,2,X20+,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2+,2003/10/28,0486,09:51,11:10,11:24,MovieView archive
3,4,X17+,2005/09/07,0808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive
5,6,X10,2003/10/29,0486,20:37,20:49,21:01,MovieView archive
6,7,X9.4,1997/11/06,8100,11:49,11:55,12:01,MovieView archive
7,8,X9.3,2017/09/06,2673,11:53,12:02,12:10,MovieView archive
8,9,X9,2006/12/05,0930,10:18,10:35,10:45,MovieView archive
9,10,X8.3,2003/11/02,0486,17:03,17:25,17:39,MovieView archive
10,11,X8.2,2017/09/10,2673,15:35,16:06,16:31,MovieView archive
11,12,X7.1,2005/01/20,0720,06:36,07:01,07:26,MovieView archive
12,13,X6.9,2011/08/09,1263,07:48,08:05,08:08,MovieView archive
13,14,X6.5,2006/12/06,0930,18:29,18:47,19:00,MovieView archive
14,15,X6.2,2005/09/09,0808,19:13,20:04,20:36,MovieView archive
15,16,X6.2,2001/12/13,9733,14:20,14:30,14:35,MovieView archive
16,17,X5.7,2000/07/14,9077,10:03,10:24,10:43,MovieView archive
17,18,X5.6,2001/04/06,9415,19:10,19:21,19:31,MovieView archive
18,19,X5.4,2012/03/07,1429,00:02,00:24,00:40,MovieView archive
19,20,X5.4,2005/09/08,0808,20:52,21:06,21:17,MovieView archive
20,21,X5.4,2003/10/23,0486,08:19,08:35,08:49,MovieView archive
21,22,X5.3,2001/08/25,9591,16:23,16:45,17:04,MovieView archive
22,23,X4.9,2014/02/25,1990,00:39,00:49,01:03,MovieView archive
23,24,X4.9,1998/08/18,8307,22:10,22:19,22:28,View archive
24,25,X4.8,2002/07/23,0039,00:18,00:35,00:47,MovieView archive
25,26,X4,2000/11/26,9236,16:34,16:48,16:56,MovieView archive
26,27,X3.9,2003/11/03,0488,09:43,09:55,10:19,MovieView archive
27,28,X3.9,1998/08/19,8307,21:35,21:45,21:50,View archive
28,29,X3.8,2005/01/17,0720,06:59,09:52,10:07,MovieView archive
29,30,X3.7,1998/11/22,8384,06:30,06:42,06:49,MovieView archive
30,31,X3.6,2005/09/09,0808,09:42,09:59,10:08,MovieView archive
31,32,X3.6,2004/07/16,0649,13:49,13:55,14:01,MovieView archive
32,33,X3.6,2003/05/28,0365,00:17,00:27,00:39,MovieView archive
33,34,X3.4,2006/12/13,0930,02:14,02:40,02:57,MovieView archive
34,35,X3.4,2001/12/28,9767,20:02,20:45,21:32,MovieView archive
35,36,X3.3,2013/11/05,1890,22:07,22:12,22:15,MovieView archive
36,37,X3.3,2002/07/20,0039,21:04,21:30,21:54,MovieView archive
37,38,X3.3,1998/11/28,8395,04:54,05:52,06:13,MovieView archive
38,39,X3.2,2013/05/14,1748,00:00,01:11,01:20,MovieView archive
39,40,X3.1,2014/10/24,2192,21:07,21:41,22:13,MovieView archive
40,41,X3.1,2002/08/24,0069,00:49,01:12,01:31,MovieView archive
41,42,X3,2002/07/15,0030,19:59,20:08,20:14,MovieView archive
42,43,X2.8,2013/05/13,1748,15:48,16:05,16:16,MovieView archive
43,44,X2.8,2001/12/11,9733,07:58,08:08,08:14,MovieView archive
44,45,X2.8,1998/08/18,8307,08:14,08:24,08:32,View archive
45,46,X2.7,2015/05/05,2339,22:05,22:11,22:15,MovieView archive
46,47,X2.7,2003/11/03,0488,01:09,01:30,01:45,MovieView archive
47,48,X2.7,1998/05/06,8210,07:58,08:09,08:20,MovieView archive
48,49,X2.6,2005/01/15,0720,22:25,23:02,23:31,MovieView archive
49,50,X2.6,2001/09/24,9632,09:32,10:38,11:09,MovieView archive

In [4]:
modifiedDataFrame=spaceWeatherDataFrame
modifiedDataFrame.drop(['Movie'],axis=1,inplace=True)
modifiedDataFrame.head()

  Rank X_class        Date Region Start_time Max_time End_time
0    1    X28+  2003/11/04   0486      19:29    19:53    20:06
1    2    X20+  2001/04/02   9393      21:32    21:51    22:03
2    3  X17.2+  2003/10/28   0486      09:51    11:10    11:24
3    4    X17+  2005/09/07   0808      17:17    17:40    18:03
4    5   X14.4  2001/04/15   9415      13:19    13:50    13:55

In [5]:
modifiedDataFrame['Start_time']=modifiedDataFrame['Date']+" "+modifiedDataFrame['Start_time']
modifiedDataFrame['End_time']=modifiedDataFrame['Date']+" "+modifiedDataFrame['End_time']
modifiedDataFrame.drop(['Date'],axis=1,inplace=True)
modifiedDataFrame.head()

  Rank X_class Region        Start_time Max_time          End_time
0    1    X28+   0486  2003/11/04 19:29    19:53  2003/11/04 20:06
1    2    X20+   9393  2001/04/02 21:32    21:51  2001/04/02 22:03
2    3  X17.2+   0486  2003/10/28 09:51    11:10  2003/10/28 11:24
3    4    X17+   0808  2005/09/07 17:17    17:40  2005/09/07 18:03
4    5   X14.4   9415  2001/04/15 13:19    13:50  2001/04/15 13:55

In [6]:
modifiedDataFrame['Start_time']=pd.to_datetime(modifiedDataFrame['Start_time'])
modifiedDataFrame['End_time']=pd.to_datetime(modifiedDataFrame['End_time'])
modifiedDataFrame[:1000]

   Rank X_class Region          Start_time Max_time            End_time
0     1    X28+   0486 2003-11-04 19:29:00    19:53 2003-11-04 20:06:00
1     2    X20+   9393 2001-04-02 21:32:00    21:51 2001-04-02 22:03:00
2     3  X17.2+   0486 2003-10-28 09:51:00    11:10 2003-10-28 11:24:00
3     4    X17+   0808 2005-09-07 17:17:00    17:40 2005-09-07 18:03:00
4     5   X14.4   9415 2001-04-15 13:19:00    13:50 2001-04-15 13:55:00
5     6     X10   0486 2003-10-29 20:37:00    20:49 2003-10-29 21:01:00
6     7    X9.4   8100 1997-11-06 11:49:00    11:55 1997-11-06 12:01:00
7     8    X9.3   2673 2017-09-06 11:53:00    12:02 2017-09-06 12:10:00
8     9      X9   0930 2006-12-05 10:18:00    10:35 2006-12-05 10:45:00
9    10    X8.3   0486 2003-11-02 17:03:00    17:25 2003-11-02 17:39:00
10   11    X8.2   2673 2017-09-10 15:35:00    16:06 2017-09-10 16:31:00
11   12    X7.1   0720 2005-01-20 06:36:00    07:01 2005-01-20 07:26:00
12   13    X6.9   1263 2011-08-09 07:48:00    08:05 2011-08-09 08:08:00
13   14    X6.5   0930 2006-12-06 18:29:00    18:47 2006-12-06 19:00:00
14   15    X6.2   0808 2005-09-09 19:13:00    20:04 2005-09-09 20:36:00
15   16    X6.2   9733 2001-12-13 14:20:00    14:30 2001-12-13 14:35:00
16   17    X5.7   9077 2000-07-14 10:03:00    10:24 2000-07-14 10:43:00
17   18    X5.6   9415 2001-04-06 19:10:00    19:21 2001-04-06 19:31:00
18   19    X5.4   1429 2012-03-07 00:02:00    00:24 2012-03-07 00:40:00
19   20    X5.4   0808 2005-09-08 20:52:00    21:06 2005-09-08 21:17:00
20   21    X5.4   0486 2003-10-23 08:19:00    08:35 2003-10-23 08:49:00
21   22    X5.3   9591 2001-08-25 16:23:00    16:45 2001-08-25 17:04:00
22   23    X4.9   1990 2014-02-25 00:39:00    00:49 2014-02-25 01:03:00
23   24    X4.9   8307 1998-08-18 22:10:00    22:19 1998-08-18 22:28:00
24   25    X4.8   0039 2002-07-23 00:18:00    00:35 2002-07-23 00:47:00
25   26      X4   9236 2000-11-26 16:34:00    16:48 2000-11-26 16:56:00
26   27    X3.9   0488 2003-11-03 09:43:00    09:55 2003-11-03 10:19:00
27   28    X3.9   8307 1998-08-19 21:35:00    21:45 1998-08-19 21:50:00
28   29    X3.8   0720 2005-01-17 06:59:00    09:52 2005-01-17 10:07:00
29   30    X3.7   8384 1998-11-22 06:30:00    06:42 1998-11-22 06:49:00
30   31    X3.6   0808 2005-09-09 09:42:00    09:59 2005-09-09 10:08:00
31   32    X3.6   0649 2004-07-16 13:49:00    13:55 2004-07-16 14:01:00
32   33    X3.6   0365 2003-05-28 00:17:00    00:27 2003-05-28 00:39:00
33   34    X3.4   0930 2006-12-13 02:14:00    02:40 2006-12-13 02:57:00
34   35    X3.4   9767 2001-12-28 20:02:00    20:45 2001-12-28 21:32:00
35   36    X3.3   1890 2013-11-05 22:07:00    22:12 2013-11-05 22:15:00
36   37    X3.3   0039 2002-07-20 21:04:00    21:30 2002-07-20 21:54:00
37   38    X3.3   8395 1998-11-28 04:54:00    05:52 1998-11-28 06:13:00
38   39    X3.2   1748 2013-05-14 00:00:00    01:11 2013-05-14 01:20:00
39   40    X3.1   2192 2014-10-24 21:07:00    21:41 2014-10-24 22:13:00
40   41    X3.1   0069 2002-08-24 00:49:00    01:12 2002-08-24 01:31:00
41   42      X3   0030 2002-07-15 19:59:00    20:08 2002-07-15 20:14:00
42   43    X2.8   1748 2013-05-13 15:48:00    16:05 2013-05-13 16:16:00
43   44    X2.8   9733 2001-12-11 07:58:00    08:08 2001-12-11 08:14:00
44   45    X2.8   8307 1998-08-18 08:14:00    08:24 1998-08-18 08:32:00
45   46    X2.7   2339 2015-05-05 22:05:00    22:11 2015-05-05 22:15:00
46   47    X2.7   0488 2003-11-03 01:09:00    01:30 2003-11-03 01:45:00
47   48    X2.7   8210 1998-05-06 07:58:00    08:09 1998-05-06 08:20:00
48   49    X2.6   0720 2005-01-15 22:25:00    23:02 2005-01-15 23:31:00
49   50    X2.6   9632 2001-09-24 09:32:00    10:38 2001-09-24 11:09:00